@import '../components/variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: hidden;
    height: 100%;
}

* {
    box-sizing: border-box;

    &::after,
    &::before {
        box-sizing: inherit;
    }
}

body {
    overflow-x: hidden;
    height: 100%;
    font-size: 15px;
    font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;
    color: #183247;
}

// main container
.container {
    margin: 0 auto;
    @media (max-width: 767px) {
        display: block;
    }
}

// header styles
.header-block {
    @media (max-width: 767px) {
        display: block;
    }
}
.logo-block  {
    @media (max-width: 767px) {
        width: 100%;
        justify-content: center;
    }
    svg {
        @media (max-width: 767px) {
            margin: 1rem 0;
        }   
    }
}

.primary-nav {
    @media (max-width: 767px) {
        display: block;
        width: 100%;
    }
    > nav,
    > .search-block {
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    > nav {
        @media (max-width: 767px) {
            overflow-x: auto;
            white-space: nowrap;
            padding-bottom: 1rem;
        }
    }
    > .search-block {
        @media (max-width: 767px) {
            padding: 0 0 1rem;
        }
    }
}



