@import '../components/variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  height: 100%;
}
* {
  font-size: 16px;
  font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;
  color: #183247;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: inherit;
  }
}
body {
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}
// main container
.container {
  max-width: 100% !important;
  margin: 0 auto;
  @media (max-width: 767px) {
    display: block;
  }
}
// header styles
.header-block {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  > .container {
    @media (min-width: 1280px) {
      padding: 0;
    }
  }
  @media (max-width: 767px) {
    display: block;
  }
}
.logo-block  {
  @media (max-width: 767px) {
    width: 100%;
    justify-content: center;
  }
  svg {
    @media (max-width: 1279px) {
      margin: 1rem 0;
    }
  }
}
.primary-nav {
  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }
  > nav,
  > .search-block {
    @media (max-width: 767px) {
      width: 100%;
    }
    .text-primary_teal_green, .text-white {
      font-weight: 600;
    }
  }
  > nav {
    @media (min-width: 768px) {
      order: 1;
    }
    @media (max-width: 767px) {
      overflow-x: auto;
      white-space: nowrap;
      padding: 1rem 0;
      justify-content: center;
    }
    @media (min-width: 1280px) {
      padding-left: 3.5rem;
    }
    > a {
      font-weight: 600;
      @media (max-width: 1279px) {
        margin-left: 0.9rem;
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        @media (max-width: 1023px) {
          display: none;
        }
      }
    }
  }
  > .search-block {
    @media (max-width: 767px) {
      width: 100%;
      padding: 0 0 1rem;
    }
    @media (min-width: 768px) {
      order: 2;
    }
    @media (min-width: 768px) {
      width: 60%;
    }
    @media (min-width: 1024px) {
      width: 55%;
    }
    @media (max-width: 1279px) {
      padding: 0;
    }
    > a {
      @media (min-width: 768px) {
        white-space: nowrap;
      }
      @media only screen and (max-width: 767px) {
        &:last-child{
          display: none;
        }
      }
    }
  }
}
.search-block-child {
  overflow: hidden;
  @media (max-width: 767px) {
    width: 50%;
  }
  > div {
    @media (max-width: 767px) {
      width: 100%;
    }
    input {
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (min-width: 768px) {
        width: 80px;
      }
    }
  }
}
.isTablet {
  @media (max-width: 767px) {
    display: none;
  }
}
.doc-page {
  line-height: 25px;
  @media (max-width: 1279px) {
    width: 100%;
  }
  > div {
    @media (max-width: 1279px) {
        padding: 1.5rem;
    }
  }
  h2 > * {
    font-size: 25px;
    @media (max-width: 1279px) {
      font-size: 21px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  img {
      position: relative;
      max-width: 100%;
      height: auto;
      width: 100%;
      min-height: 50px;
      line-height: 2;  
      text-align: center;
      background: #f4f4f4;
      box-shadow: 0px 4px 24px 0px #091E4224;
      margin: 16px 0;
      border-radius: 4px;
  }
  // WIP - need to get ul li markers to move away from text
  ///////////////////////////////////////////////////////////////////
  ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 10px;
    li::marker {
      padding-inline-start: 39px;
      color: #183247 !important;
      b , strong{
        font-weight: 800!important;
      }
    }

    &::after,
    &::before {
      display: inline-block;
      direction: rtl !important;
      margin-left: -28px !important;
      padding-right: 16px !important;
      width: 28px !important;
    }
    li {
      padding: 10px !important;
      margin-bottom: -10px;
      li::before {
        direction: rtl !important;
        margin-left: -28px !important;
        padding-right: 16px !important;
        width: 28px !important;
      }
      p {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
      }
    }
    li::marker {
      color: #183247 !important;
    }
  }

  ol {
    list-style-type: decimal;
    padding-left: 25px !important;
    li {
      /*list-style:decimal!important;*/
      
      padding-left: 10px !important;
      margin-bottom: 8px;
    }
    li::marker {
      color: $grey_70;
    }
  }
  /////////////////////////////////////////////////////////////////////////
  a {
    height: 24px;
    color: #03A973;
    font-weight:600;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &.alternative {
      color: #fff;
    }
    &.alternative:hover {
      color: #fff;
      background-position: top 22px right -4px;
      padding-right: 4px;
      padding-bottom: 2px;
      text-decoration: none;
    }
  }
}
.isGithubEdit {
  @media (max-width: 1279px) {
    display: none;
  }
}
.pagination_buttons {
  @media (min-width: 568px) {
    margin: 0 1.5rem;
  }
  @media (min-width: 1279px) {
    margin: 0 0 0 5rem;
    max-width: 70%;
  }
  .footer_docs,
  .footer_greenbox {
    @media (max-width: 767px) {
      margin: 1.5rem;
    }
  }
  .footer_text {
    @media (max-width: 767px) {
      margin: 0 1rem;
    }
  }
}
.navigation-block {
  @media (max-width: 576px) {
    margin: 0 1.5rem;
  }
  &.flex.justify-between {
    @media (max-width: 576px) {
      display: block;
      justify-content: inherit;
    }
  }
  h3 {
    color: #000000;
    font-size: 1.1rem !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  span {
    color: #78757a;
  }
  .next_button,
  .prev_button {
    width: 42%;
    padding: 15px 20px;
    box-shadow: 4px 4px 5px #f3f3f3;
    border:1px solid #DEDEDE;
    border-radius: 4px;
    @media (max-width: 1279px) {
      width: 49%;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
    svg {
      position: relative;
      top: 10px;
    }
  }
  .next_button {
    float: right;
    @media (max-width: 576px) {
      float: inherit;
    }
    span {
      margin-right: 2px;
      @media (max-width: 576px) {
        margin-left: 0px;
      }
    }
    @media (max-width: 576px) {
      margin-left: 0px;
      margin-top: 30px;
    }
    svg {
      float: right;
    }
  }
  .prev_button {
    text-align: right;
    svg {
      float: left;
    }
  }
}
.float-searchBox {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 3;
  padding: 1.6rem 1rem;
  max-height: 94vh;
  display: block;
  border-left: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));
  border-radius: 8px;
  backdrop-filter: blur(26px);
  padding: 0.9rem 1rem;
  transition: all 0.25s ease-in;
  @media (max-width: 767px) {
    width: 85% !important;
    height: 90vh !important;
  }
  @media (min-width: 768px) {
    width: 45%;
    height: 90vh !important;
  }
  @media (min-width: 1024px) {
    width: 35%;
  }
  @media (min-width: 1280px) {
    width: 24.1%;
  }
  .ais-SearchBox,
  .search-icon {
    display: inline-block;
    vertical-align: middle;
  }
  .search-icon {
    width: 4%;
  }
  .ais-SearchBox,
  .ais-SearchBox-input {
    width: 95%;
  }
  .search_results{
    top: 71px;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    border-left: 0;
    background-color: #f5f5f5;
    overflow-y: auto;
    border-radius: 8px;
    @media (max-width: 767px) {
      top: 71px;
    }
    @media (max-width: 1279px) {
      top: 56px;
    }
    .ais-Pagination-list {
      display: flex;
      padding: 0.25rem 0 0.5rem;
      justify-content: center;
      li {
        margin: 0 6px;
      }
      .ais-Pagination-link--selected {
        font-weight: bold;
      }
    }
  }
  .ais-SearchBox-input{
    font-size: 18px;
    border-radius: 5px;
    padding: .5rem 1rem;
  }
}
.ais-SearchBox-input{
  outline: none!important;
}

/* Blockquotes */
blockquote {
  padding: 0 24px;
  color: #6a737d;
  border-left: 5px solid #dfe2e5;
}
.edit-button {
  padding-top: 40px;
  @media (min-width:992px) {
    padding-top: 0;
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 4px;
  }
}
.edit-button-styles {
  border: 1px solid $grey_40 !important;
  border-radius: 4px !important;
  padding: 8px 16px !important;
  &:hover {
    border: 1px solid $grey_70 !important;
    background-color: transparent !important;
  }
}
tr:hover {
  background-color: #FAE1D4;
}
th:first-child,
td:first-child {
  padding-left:10px;
}
thead:first-child:hover tr{
  background-color: white;
}
/**
* add syntax highlighting
*/
.gatsby-highlight {
  position: relative;
  max-width: 100%;
}
.gatsby-highlight pre,
.gatsby-highlight code {
  top: 0;
  padding: 0.5rem;
  margin: 0 !important;
}
:not(pre) > code[class*="language-"] {
  top: 0 !important;
  font-family: $ibm;
  background-color: $grey_30 !important;
  color: $grey_90;
  padding: 3px 28px 3px 6px !important;
  font-size: 16px !important;
}
code[class*="language-"] {
  word-break: break-word !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}
.copytoclipboard {
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 15px;
  height: 15px;
  line-height: 0;
  cursor: pointer;
  &.copied::after,
  &.copied::before {
      background-color: #03a973;
      border-color: $white;
  }
  &::after,
  &::before {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      right: 1px;
      z-index: 0;
      width: 12px;
      height: 12px;
      background-color: $white;
      border-radius: 3px;
      border: 2px solid $grey_80;
  }
  &::before {
      top: 4px;
      right: 4px;
      z-index: 1;
  }
}
.alert {
  margin-bottom: 15px;
  padding: 20px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  &.alert-danger {
    background: #FFE0CF;
    >.custom-block-heading {
      font-weight: bold;
      color: #FF6767;
    }
  }

  .sticky {
    margin-top: 64px;
    position: -webkit-sticky;
    position: sticky !important;
    top: 160px;
    // top: 0;
  }

  &.alert-info {
    border-left: 3px solid rgb(247, 125, 5);
    background: #F8F9FA;
    >.custom-block-heading {
      font-weight: bold;
    }
  }
  >.custom-block-body p{
    margin: 0 !important;
  }
}

.text-xs {
  font-size: 0.90rem;
  line-height: 1rem;
  @media (max-width: 1280px) {
    font-size: 0.85rem;
  }
}

.max-w-sm {
  max-width: 26rem;
}

.mt-15{
  margin-top: 15px;
}

.perviousLink{
  margin-left: -4px;
}
.card_container{
  padding-bottom: 2rem;
}
.chat_btn{
  padding: 1rem;
  margin-right: 1rem;
  background: linear-gradient(0deg, $nile_blue, $nile_blue), $jade_green;
  border-radius: .2rem;
  span{
    padding-left: .5rem;
    color: $white;
    font-weight: 600;
    font-size: 17px;
  }
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.community_btn{
  padding: 1rem;
  border: 1px solid $nile_blue;
  border-radius: 2px;
  span{
    padding-left: .5rem;
    color: $nile_blue;
    font-weight: 600;
    font-size: 17px;
  }
  @media (max-width: $screen_425) {
    margin-top: 1rem;
  }
}
.homepage_footer{
  flex-basis: 100%;
  justify-content: space-between;
  margin: 2rem 0 4rem;
  .pagination_buttons{
    @media (min-width: $screen_768) {
      margin: 0;
    }
  }
  .next_button{
    width: fit-content;
    @media (min-width: $screen_768) {
      margin-top: 1rem;
    }
  }
}
.home-page_banner{
  background-image: url("~/src/components/images/bg-banner.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  @media (max-width: $screen_768) {
    padding: 1rem;
    background-size: cover;
    background-position: center;
  }
}
.float-cta{
  @apply px-4 py-8 flex justify-center flex-col;
  background-color: #EFEFEF;
  width: 95%;
  margin: 3rem 0 0;
  .cta-title{
    margin: 0 !important;
    font-size: 24px !important;
    line-height: 36px !important;
    text-align: center;
  }
  .signup-btn{
    margin: 1rem 0 0;
    @apply flex justify-center;
  }
}

.fixed{
  display: none;
}

table{
  thead, tbody{
    @apply w-full;
    tr{
      td, th{
        word-wrap: break-word;
        li{
          @apply break-all w-full;
        }
      }
    }
  }
}

// Cookie banner
#hs-banner-parent {
  a {
    color: #09c0a1 !important;
    &:hover {
      color: #007d85 !important;
      text-decoration: underline !important;
    }
  }
  .hs-cookie-notification-position-bottom {
    width: calc(min(26.5em, 100%)) !important;
    left: calc(min(18.7em, 100%)) !important;
    @media only screen and (max-width: 767px) {
      left: 3% !important;
      bottom: 2% !important;
      max-width: 95% !important;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      left: 20% !important;
      bottom: 10% !important;
      max-width: 35% !important;
    }
    #hs-eu-cookie-confirmation-inner {
      padding: 2rem;
      #hs-eu-policy-wording {
        strong {
          margin: 0 0 1rem 0;
          font-size: 14px !important;
          line-height: 24px !important;
          color: #5f5f5f !important;
          font-weight: 300 !important;
        }
      }
      #hs-eu-cookie-confirmation-buttons-area {
        justify-content: center;
        margin-right: 0;
        #hs-eu-confirmation-button-group {
          flex-flow: row;
          #hs-eu-cookie-settings-button {
            padding: 10px 25px !important;
            text-align: center !important;
            font-size: 14px !important;
            line-height: 20px !important;
            border: 0.5px solid #d0d5dd !important;
            color: #0a1a2a !important;
            min-width: 12em !important;
            text-decoration: none !important;
            }
            #hs-eu-confirmation-button,
            #hs-eu-cookie-settings-button {
              font-weight: 600 !important;
              border-radius: 5px !important;
            &:hover {
              color: white !important;
              background-color: #007d85 !important;
              border-color: #007d85 !important;
            }
          }
        }
      }
      #hs-eu-decline-button {
        display: none;
      }
    }
  }
}
#hs-modal {
  a {
    color: #09c0a1 !important;
  }
  #hs-modal-introduction {
    font-size: 16px !important;
  }
  #hs-modal-introduction-description {
    p {
      font-size: 14px !important;
      line-height: 24px !important;
      font-weight: 400 !important;
      color: #5f5f5f !important;
    }
  }
  #hs-modal-body-container{
   gap: 0 !important; 
  }
  #hs-categories-container {
    padding-top: 20px !important;
    .hs-category-row {
      border-top: #d0d5ddbd !important;
      border-style: solid !important;
      border-width: 1px 0 0 0 !important;
      padding: 15px 10px 0 !important;
      .hs-toggle-switch {
        width: calc(34px + 2px) !important;
        height: calc(18px + 2px) !important;
        .hs-toggle-switch-nob{
          height: 14px !important;
          width: 14px !important;
        }
      }
      .hs-toggle-selected-flag{
        .hs-toggle-switch-nob{
          left: 56% !important;
        }
      }
      .hs-category-label{
        gap: 5px !important;
      }
    }
    #hs-category-analytics,
    #hs-category-necessary,
    #hs-category-advertisement,
    #hs-category-functionality {
      span {
        font-size: 18px !important;
        line-height: 24px !important;
        font-weight: 600 !important;
      }
    }
    .hs-category-description {
      font-size: 14px !important;
      line-height: 20px !important;
      font-weight: 400 !important;
      color: #5f5f5f !important;
    }
    .visible {
      padding-top: 15px;
      padding-left: 20px !important;
    }
  }
  .hs-always-active-label {
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
    color: #09c0a1 !important;
  }
  #hs-modal-footer-container {
    #hs-modal-accept-all {
      order: 2 !important;
    }
    #hs-modal-accept-all,
    #hs-modal-save-settings {
      font-weight: 600 !important;
      &:hover {
        background-color: #007d85 !important;
        border: #007d85 !important;
        color: white !important;
      }
    }
  }
  #hs-modal-footer{
    padding-top: 12px !important;
  }
}

//Black-friday hello bar design
#leadinModal-4801049{
  .leadinModal-content {
    background: linear-gradient(
      92deg,
      #4dd795 37.61%,
      rgba(96, 217, 188, 0.83) 76.64%
    ) !important;
    .leadinModal-content-wrapper {
      .leadin-content-body {
        .leadin-preview-wrapper {
          h4 {
            @apply font-bold;
            font-size: 16px;
            line-height: normal;
            color: #000000 !important;
            margin: 0 auto;
            margin-left: auto !important;
            margin-right: auto;
            text-align: center !important;
            font-style: normal;
          }
          .advance-wrapper {
            @media (max-width: 767px) {
              @apply mt-8;
            }
            .leadin-button {
              @apply font-bold text-center;
              font-size: 14px;
              color: #fff !important;
              border-radius: 3px;
              background-color: #191919 !important;
              font-style: normal;
            }
          }
        }
      }
    }
    .leadinModal-close{
      &::before{
        color: #000000 !important;
      }
    }
  }
}
.base-teal-gradient {
  background: linear-gradient(91.7deg, #00b2bd 0.51%, #09c0a1 68.87%);
}