.footer_docs{
  margin-top: 0px;
  position: relative;
  top: 40px;
  hr{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h2{
    margin-top: 3px!important;
    margin-bottom: 5px!important;
    text-align: center;
    font-weight: 700!important;
    font-size: 22px!important;
  }
  .helpfull{
    display: flex;
    .text_h2{
      margin-left: 80px;
      margin-right: 50px;
    }
    svg{
      margin-top: 8px;
      margin-right: 15px;
      margin-left: 15px;
    }
    .yes{
      margin-right: 20px;
      color: #2b58da;
      font-size: 22px!important;
    }
  }
}

.flex_item{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.footer_greenbox{
  margin-top: 30px;
  background-color: #CDF0EA;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 18px 18px 18px 28px;
  border-radius: 6px;
  .green_text{
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    text-align: initial;
    padding-left: 15px;
    padding-right: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
  }
  form{
    margin-top: -15px;
    input{
      height: 40px;
      margin-top: 11px;
      width: 100%;
      padding-left: 40px;
      padding-right: 15px;
      border-radius: 4px;
      &:focus{
        outline: none;
      }
      &::placeholder{
        position: relative;
        left: 0px;
        color: #cacaca;
        font-size: 15px;
      }
    }
    svg{
      display: block;
      position: relative;
      top: 39px;
      left: 15px;
    }
  }
  .btn_width{
    max-width: 30%;
    button{
      color: #FFF;
      margin-top: 11px;
      margin-left: 0px;
      position: relative;
      right: 15px;
      background: #03A973 !important;
      border: 1px solid #03A973 !important;
      min-width: 150px;
      height: 40px;
      border-radius: 4px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      line-height: 39px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      cursor: pointer;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.footer_greyBox{
    margin-top: 30px;
    background-color: #F6F7F9;
    padding: 30px 15px 15px 15px;
    svg{
      margin: auto;
      display: block;
    }
  p{
    font-weight: 300;
    text-align: center;
  }
  .p_flex{
    display: flex;
    width: 100%;
    margin-left: 120px;
    margin-top: -15px;
    p{
      line-height: 12px;
      padding: 0px 10px;
      height: 15px;
      a{
        color: #03A973;
        text-decoration: underline;
      }
    }
    .right_border{
      border-right: 2px solid #000;
    }
  }
  .p_0{
    margin-top: 0px!important;
    a{
      color: #03A973;
    }
  }
  .link_underline{
    text-decoration: underline;
  }
}

.footer_text{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  p{
    a{
      font-size: 12px;
      color: #7F7F7F;
      text-align: initial;
    }
    font-size: 12px;
    color: #7F7F7F;
    text-align: initial;
  }
  .text_end{
    text-align: end!important;
  }
}