// Footer has font Open Sans
* {
 font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;
  color: #183247;
  font-size: 15px;
  //font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
}
// @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
img{
  margin-top: 20px;
  margin-bottom: 20px;
}

code {
}
pre{
  background-color: #f9f9f9;
}
pre , code{
  margin-top: -10px!important;
  margin-bottom: 30px!important;
  padding: 0px 20px 20px 20px;
  position: relative;
  top: 10px;
}

.layout-wrapper {
  padding: 0px;
}

h1,
.h1 {
  margin-top: 20px;
  font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;
  margin-bottom: -20px !important;
  font-size: 35px !important;
  line-height: 45px !important;
  font-weight: 700 !important;
  @media (max-width: 576px) {
    font-size: 18px !important;
    line-height: 36px !important;
    margin-bottom: 15px !important;
  }
}

h2,
.h2 {
  margin-top: 40px;
  font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;
  margin-bottom: 15px!important;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2631578947;
  @media (max-width: 576px) {
    font-size: 16px !important;
    line-height: 32px !important;
  }
  a{
    color: inherit!important;
    font-weight: 700!important;
    font-size: 25px !important;
    @media screen and (max-width: 768px) {
      overflow-wrap: anywhere;
    }
  }
}

h3,
.h3 {
  margin-top: 30px!important;
  font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;
  margin-bottom: 20px!important;
  font-weight: 700!important;
  font-size: 18px !important;
  line-height: 1.2666666667 !important;
}
h4,
.h4 {
  margin-top: 20px;
  font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;
  margin-bottom: 20px;
  font-size: 16px ;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: -0.32px;
  margin-bottom: 8px;
}

p {
  color: #183247;
  margin-top: 14px!important;
  margin-bottom: 14px!important;
  font-family:'Source Sans Pro',Helvetica,Arial,sans-serif;
  @media (max-width: 576px) {
    font-size: 14px;
  }
  a{
    @media screen and (max-width: 768px) {
      overflow-wrap: anywhere;
    }
  }
}

span{
  hr{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    @media (max-width: 576px) {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
    }
  }
}

blockquote{
  margin-top: 30px!important;
  margin-bottom: 30px!important;
  border-left: 2px solid #03A973!important;
  h3{
    margin-bottom: 0px!important;
  }
  p{
    margin-top: 6px!important;
  }
}

b, strong{
  font-weight: 700!important;
}

table{
  margin-bottom: 30px;
  @media screen and (max-width: 768px) {
    display: block;
    overflow-y: auto;
  }
}

table, th, td {
  border: 1px solid #183247;
  padding: 10px;
  text-align: left;
  border-collapse: collapse;
}

  // refresh 2021 layout changes
.container {
  padding-right: 24px;
  padding-left: 24px;
  @media screen and (max-width: 1199px) {
    max-width: 1199px !important; /* v5 was 1440px; v6 is 1199px */
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1224px !important; /* v5 was 1440px; v6 is 1224px */
    width: 100%;
  }
}

.row {
  margin-right: -12px;
  margin-left: -12px;

  &.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 12px;
  padding-left: 12px;
}

div.col-sm-7.doc-page {
  padding: 64px 72px;
}

// Cookie Consent
.CookieWrapper {
  width: 550px;
  position: fixed;
  margin: 0 0 40px 40px;
  bottom: 0;
  left: 0;

  @media (max-width: 991px) {
    text-align:center;
    display:flex;
    justify-content:center;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 40px;
  }
}

// Hello Bar styling
.hellobar__container {
  background-color: #DBE9F2;
  min-height: 44px;
}

.hellobar__text {
  min-height: 100%;
  margin-bottom: 0px;
  text-align: center;
  padding: 10px;
  color: #282828;
  font-weight: 700;
}

.hellobar__close-button {
  position: absolute;
  right: 20px;
  top: 8px;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none !important;

}
.section {
  padding: 40px 0;
  margin-bottom: 0;

  @media (min-width: 768px) {
    padding: 80px 0;
  }
}

/* Padding below embed videos */
.gatsby-resp-iframe-wrapper {
  padding-bottom: 56.25% !important; // 16:9 aspect ratio to remove black bars in html5 videos.
  margin-bottom: 24px;
}
