@import '_variables.scss';

.leftNav {
  position: sticky;
  top: 4.5rem;
  height: 100vh;
  background-color: #F6F7F9;
  font-size: 14px;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica, Arial, sans-serif;
  overflow: scroll;
  @media (max-width: 767px) {
    position: fixed;
    z-index: 1;
    left: 0;
    width: 85%;
    padding: 3rem 2rem !important;
    box-shadow: 0 0 10px rgb(0 0 0 / 24%);
  }
  @media (min-width: 768px) {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-bottom: 1.5rem;
  }
  @media (min-width: 1280px) {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
  .active.root > .parent.currentUrl {
    background-color: inherit;
      & button {
      &:hover{
        color: $grey_60;
      }
    }
  }
  > ul > .parent {
    padding: 10px 0;
  }
  .folder-icon {
    display: none;
  }
  > ul {
    /*border-bottom: 1px solid #C4C4C4 !important;*/
    > li {
      .folder-icon {
        display: block;
      }
      .caret {
        display: none;
      }
    }
  }
  .root > .parent {
    a,
    button {
    font-weight: 600;
      &:hover {
        color: #00b2bd;
      }
    }
  }
  .parent:hover button,
  .parent:hover svg path {
    fill: #00b2bd;
  }
  .parent {
    list-style-type: none;
    cursor: pointer;
    font-weight: 800;
    .caret {
      float: left;
      transform: rotate(-90deg);
      position: relative;
      margin-right: 0px;
      left: -4px;
      &.active-caret {
        transition: transform .2s ease;
        transform: rotate(0deg);
      }
    }
    & a,
    & button {
      background: none;
      color: inherit;
      display: inline-block;
      border: none;
      padding: 0;
      text-align: inherit;
      font-weight: 400;
      font-size: 14px;
      outline: inherit;
      text-transform: capitalize;
      &:hover{
        color: #00b2bd;
      }
      @media (max-width: 576px) {
        font-size: 13px;
      }
    }
    &.currentUrl:not(:first-child) {
      background-color: inherit;
      margin: 0 0 0 -80px;
      padding: 10px 0 8px 70px;
    }
  }
  ul {
    border-bottom: none;
    margin-bottom: 0;
    li {
      display: flex;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    li.child {
      padding-left: 25px;
    }
    ul {
      padding-left: 20px; 
      .parent {
        font-weight: 650;
      }
    }
  }
  .child {
    margin-left: 0;
    margin-bottom: 24px;
    img {
      display:inline;
      /*position: relative;*/
      top: 3px;
      width: 13px;
      height: 13px;
      margin: 0;
    }
    &.currentUrl {
      font-weight: 700;
      color: #00b2bd;
      margin-left: 0px!important;
      > * {
        vertical-align: middle;
      }
      a:link,
      a:visited {
        font-weight: normal;
        margin-left: 0;
        background-color: inherit;
        border-radius: 3px;
      }
    }
    a:link,
    a:visited {
      display: flex;
      text-decoration: none;
      line-height: 15px;
      font-size: 14px;
      padding: 0px 10px 10px 10px;
      &:hover {
        background-color: inherit;
        border-radius: 3px;
        color: #00b2bd;
      }
    }
  }
  .active {
    .inactive {
      .parent {
        border: none!important;
        button {
          margin-left: -3px;
          line-height: 15px;
          font-weight: normal!important;
        }
      }
    }
  }
  ul.active > .child,
  ul.active > .parent,
  ul.active > ul.inactive,
  ul.inactive.root {
    display: flex;
    border: none;
  }
  ul.active > .child {
    display: flex;
    margin-bottom: 0;
  }
  ul.inactive > .child,
  ul.inactive > ul {
    display: none;
  }
}
.parent_caret {
  float: right;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  top: 0px;
}
.active_parent_caret {
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.text_green {
  color: #00b2bd;
}
.float_left {
    float:left;
}
.homepage_btn{
  font-weight: 600;
  &:hover{
    color: $Mountain_Meadow;
  }
}