@import '_variables.scss';

.card{
  width: 48%;
  border: .1rem solid $light-grey;
  border-radius: 2px;
  @media (max-width: $screen_425) {
    width: 100%;
  }
  &:hover{
    background: $black_haze;
    .right-arrow {
      background-color: $white;
      box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.12);
      svg{
        path{
          fill: $Mountain_Meadow;
        }
      }
    }
  }
  .right-arrow{
    border-radius: 50%;
  }
  .card_heading{
    font-weight: 600;
    font-size: 18px;
    line-height: 45px;
    color: $dark_blue;
    margin-bottom: 0;
  }
  .card_desc{
    font-weight: 400;
    font-size: 15px;
    color: $dark_blue;
    margin-top: 0;
    margin-bottom: 0;
  }
}