@import '_variables.scss';

ais-highlight-0000000000 {
  color: $white;
  background-color: #00b2bd;
  padding: 0 6px;
  border-radius: 4px;
}

.input-empty {
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.style {
  list-style: none;
  padding-top: 14px;
  li {
    margin-bottom: 6px;
    background-color: #fff;
  }
  a {
    display: block;
    padding: 0.5rem 1rem;
    color: #757575;
  }
  a:hover {
    color: #fe6c37;
    text-decoration: none;
  }
  p {
    margin: 6px 0 !important;
    font-size: 14px;
    line-height: 20px;
    overflow-wrap: break-word;
  }
}

.search-title {
  font-weight: 700;
  font-size: 14px;
  overflow-wrap: break-word;
  color: #0E5AD9;
}

.ais-SearchBox-form {
  margin-bottom: 0px;
  flex-grow: 2;
}

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  display: none;
  width: 0.1px;
  height: 0.1px;
  font-size: 0.001px;
}