name: 'CI'
on:
  pull_request:
    types: [ opened, synchronize, reopened ]
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Install libvips
        run: sudo apt-get install libvips
      - uses: actions/checkout@v2
      - name: Setup Node 12
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - name: Install dependencies
        run: |
          npm ci --ignore-scripts --unsafe-perm
      - name: Force installing sharp
        run: npm install --ignore-scripts=false --verbose sharp@0.30.7
      - name: 'Create env file'
        run: |
          touch .env
          echo GATSBY_ALGOLIA_APP_ID=${{ secrets.GATSBY_ALGOLIA_APP_ID }} >> .env
          echo GATSBY_ALGOLIA_SEARCH_KEY=${{ secrets.GATSBY_ALGOLIA_SEARCH_KEY }} >> .env
          echo ALGOLIA_ADMIN_KEY=${{ secrets.ALGOLIA_ADMIN_KEY }} >> .env
          echo BUCKET_NAME=${{ secrets.BUCKET_NAME }} >> .env
          echo HOST_NAME=${{ secrets.HOST_NAME }} >> .env
          echo ASSET_HOST=${{ secrets.ASSET_HOST }} >> .env
          echo FRESHCHAT_TOKEN=${{ secrets.FRESHCHAT_TOKEN }} >> .env
          echo GA_TRACKING_ID=${{ secrets.GA_TRACKING_ID }} >> .env
          echo GTAG_TRACKING_ID_FOR_GA4=${{ secrets.GTAG_TRACKING_ID_FOR_GA4 }} >> .env
          echo GTAG_TRACKING_ID_FOR_GTAG=${{ secrets.GTAG_TRACKING_ID_FOR_GTAG }} >> .env
          cat .env
      - name: Build
        run: |
          PREFIX_PATHS=true npm run build
